[git]
  autoCommit = true
  autoPush = true

[hooks.edit.pre]
command = "chezmoi"
args = ["update", "-a"]

[hooks.edit-config-template.pre]
command = "chezmoi"
args = ["update", "-a"]

[hooks.edit-config-template.post]
command = "chezmoi"
args = ["apply"]

[hooks.git-auto-commit.pre]
command = "gitleaks"
args = ["detect", "--verbose", "--source", "{{ .chezmoi.sourceDir }}"]

[hooks.apply.post]
command = "mise"
args = ["install"]
