[git]
  autoCommit = true
  autoPush = true

[hooks.git-auto-commit.pre]
command = "gitleaks"
args = ["detect", "--verbose", "--source", "{{ .chezmoi.sourceDir }}"]

[hooks.apply.post]
command = "mise"
args = ["install"]
